<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}" />
    <title>Mini Profile - Free Bootstrap CSS Template</title>
    
<!--
Mini Profile Template
https://templatemo.com/tm-530-mini-profile
-->
  </head>
  <body>
    <!-- Welcome Section -->
    <section id="tmWelcome" class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/mini-profile-bg-01.jpg' %}">
      <div class="container-fluid tm-brand-container-outer">
        <div class="row">
          <div class="col-12">
            <!-- Logo Area -->
            <!-- Black transparent bg -->
            <div class="ml-auto mr-0 tm-bg-black-transparent text-white tm-brand-container-inner">
              <div class="tm-brand-container text-center">
                <h1 class="tm-brand-name">Adekanye Adeyemi</h1>
                <p class="tm-brand-description mb-0">Backend Web Developer</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tm-bg-white-transparent tm-welcome-container">
        <div class="container-fluid">
          <div class="row h-100">
            <!-- Welcome Text -->
            <!-- White transparent bg -->
            <div class="col-md-7 tm-welcome-left-col">
              <div class="tm-welcome-left">
                <h2 class="tm-welcome-title">Welcome</h2>
                <p class="pb-0">
                  A Software Developer knowledgeable in the areas of backend and frontend technology and their deployment. </p>
              </div>
            </div>
            <!-- Brown bg -->
            <div class="col-md-5">
              <div class="tm-welcome-right">
                <!-- <--<i class="fas fa-4x fa-address-card p-3 tm-welcome-icon"></i> -->
                <div>
                  <!-- the picture -->
                  <!-- the picture -->
                  <!-- the picture -->
                  <!-- the picture -->
                  <img src="{%static 'img/yemspic.jpg'%}" class="tm-contact-item-icon">
                </div>
                <p class="mb-0">
                  Skills: <ul>
                    <li>Node Js</li>
                    <li>Agile Methodologies</li>
                    <li>Python</li>
                    <li>Django & Django rest framework</li>
                    <li>Javascript</li> <li>Vue.js</li>
                    <li>CSS</li>
                    <li>HTML</li>
                    <li>redis</li>
                    <li>CAD</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Welcome section -->

    <!-- Portfolio section -->
    <section id="tmPortfolio">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-green">
                Junior Backend Developer
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-green">
                  Zillight form-group
                  <span class="tm-title-small">(August, 2021 - Present)</span>
                </h3>
                <p class="mb-0">
                  working as a backend developer with a software teams, working together to produce a globally incline product that solves germane problems in our society.
                </p>
              </div>
            </div>

            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-green">
                Google Associate Cloud Engineer
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-green">
                  Google Africa Developer's Scholarship 2021
                  <span class="tm-title-small">(July, 2021 - Present)</span>
                </h3>
                <p class="mb-0">
                  I am training to become a cloud specialist so as to understand the cloud technology and the serverless approach, so as to apply the knowledge in building quality products.
                </p>
              </div>
            </div>

            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-orange">
                Backend web developer
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-orange">
                  HNG Internship
                  <span class="tm-title-small">(August, 2021 - Present)</span>
                </h3>
                <p class="mb-0">
                  I pitch my learning curve towards Business entrepreneurship and python programming that is offered, which i believe will make me better in my line of business.
                </p>
              </div>
            </div>

            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-blue">
                Backend Web Developer
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-blue">
                  Zuri Training
                  <span class="tm-title-small">(March,2021 - July, 2021)</span>
                </h3>
                <p class="mb-0">
                  Courtesy of ingressive4good, i attained a web development certification(backend track) by successfully completing every tasks and building a project
                  at the final phase of the training- myInternship app
                </p>
              </div>
            </div>

            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-dark-gray">
                Bachelor's Degree
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-dark-gray">
                  University of Ilorin
                  <span class="tm-title-small">
                    (Nov, 2006 - July, 2010)
                  </span>
                </h3>
                <p class="mb-0">
                  B.Eng Mechanical Engineering- Second Class Lower Division
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End portfolio section -->

    <!-- Contact section -->
    <div id="tmContact" class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/mini-profile-bg-02.jpg' %}">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="tm-contact-items-container">
              <div class="tm-contact-item">
                <h4 class="tm-welcome-title">My Projects</h4>
                <p class="mb-0">
                  <a href="#"></a>yemoche/mp-app</a>
                </p>
                <p class="mb-0">
                  <a href="#"> yemoche/pages-app</a> 
                </p>
                <p class="mb-0">
                  <a href="#"> yemoche/pages-app</a> 
                </p>
                <p class="mb-0">
                  <a href="#">yemoche/Fetch-Async-ApiAssignment</a> 
                </p>

                <br>
                <h4 class="tm-welcome-title">Contributed-To</h4>
                <p class="mb-0">
                  <a href="#">myInternship app</a> 
                </p>
              </div>
              <div class="tm-contact-item">
                <h4 class="tm-welcome-title">Connect With Me</h4>
                <a href="https://twitter.com/yemy_1"><img src="{%static 'img/twitter.png'%}" class="tm-welcome-icon"></a>
                <a href="https:https://www.linkedin.com/in/adekanye-adeyemi-b8147456/"><img src="{%static 'img/linkedin.png'%}" class="tm-welcome-icon"></a>
                <a href="https://github.com/yemoche/"><img src="{%static 'img/github.png'%}" class="tm-welcome-icon"></a>
              </div>
              <div class="tm-contact-item">
                <h4 class="tm-welcome-title">Special Thanks To</h4> 
                <a href="https://internship.zuri.team/"><img src="{%static 'img/zuri.jpg'%}" class="tm-welcome-icon"></a>
                <a href="https://internship.zuri.team/enrollment"><img src="{%static 'img/hng.jpg'%}" class="tm-welcome-icon"></a>
                <a href="https://ingressive.org/"><img src="{%static 'img/ingressive4good.jpg'%}" class="tm-welcome-icon"></a>

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <form
              method="POST"
              id="tmContactForm"
              class="tm-bg-white-transparent"
            >
              {% csrf_token %}
              <div class="form-group">
                <input
                  type="text"
                  id="contact_name"
                  name="name"
                  class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                  placeholder="Name"
                  required
                />
                {% for err in form.name.errors %}
                  <small class='text-danger'>{{ err }}</small>
                {%endfor%}
              </div>
              <div class="form-group">
                <input
                  type="email"
                  id="contact_email"
                  name="email"
                  class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                  placeholder="Email"
                  required
                />
                {% for err in form.email.errors %}
                  <small class='text-danger'>{{ err }}</small>
                {%endfor%}
              </div>
              <div class="form-group">
                <textarea
                  rows="4"
                  id="contact_message"
                  name="message"
                  class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                  placeholder="Message"
                  required
                ></textarea>
                {% for err in form.message.errors %}
                  <small class='text-danger'>{{ err }}</small>
                {%endfor%}
              </div>
              <div class="text-center">
                <button
                  type="submit"
                  class="btn tm-btn-submit rounded-0 text-white"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- row -->
        <div class="row">
          <footer class="col-12">
            <p class="text-center tm-copyright-text">
            
            
            </p>
          </footer>
        </div>
      </div>
      <!-- container -->
    </div>
    <!-- section -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script>
      function detectMsBrowser() {
        using_ms_browser =
          navigator.appName == "Microsoft Internet Explorer" ||
          (navigator.appName == "Netscape" &&
            navigator.appVersion.indexOf("Edge") > -1) ||
          (navigator.appName == "Netscape" &&
            navigator.appVersion.indexOf("Trident") > -1);

        if (using_ms_browser == true) {
          alert(
            "Please use Chrome or Firefox for the best browsing experience!"
          );
        }
      }
      function setBrandMarginTop() {
        var bottomContainerHeight = $(".tm-welcome-container").height();

        $(".tm-brand-container-outer").css({
          "margin-top": -bottomContainerHeight + "px"
        });
      }

      $(function() {
        setBrandMarginTop();
        detectMsBrowser();

        // Handle window resize event
        $(window).resize(function() {
          setBrandMarginTop();
        });
      });
    </script>
  </body>
</html>